<%- include('./inc/header.ejs') %>
</head>
<body>
<%- include('./inc/navbar.ejs') %>
  <main class="container">
    <h2 style="text-align: center">404: Hmmm... Page not found!</h2>
  </main>
</body>
</html>