<%- include('./inc/header.ejs') %>
</head>
<body>
  <%- include('./inc/navbar.ejs') %>
  <main class="container">
    <h2 style="text-align: center">Hello from Express!</h2>
    <div id="output"></div>
  </main>
</body>
</html>